body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}

aside.left {
    border: 1px solid red;
    width: 30%;
    position: absolute;
    top: 70px;
    left: 1%;
}

div.container01 {
  border: 1px solid blue;
  width: 68%;
  height: auto;
  position: absolute;
  top: 70px;
  left: 31%;
}
